.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 4rem;
}

#header-text {
  font-size: 4rem;
}


#button-reset {
  margin-right: 2rem;
  border-radius: 3px;
  padding: 4px;
  background-color: dimgray;
  color: white;
}

#button-regras {
  border-radius: 6px;
  padding: 4px;
  background-color: lightcoral;

}

.content {
  position: relative;
  width: 600px;
  margin: 50px auto;

}

ul#ul {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  background: url("background/board.png");
  background-size: cover;
}

ul#ul li {
  list-style-type: none;
  width: 70px;
  height: 450px;
  margin-left: 5px;

}

ul#out {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  background: url("background/board2.png");
  background-size: cover;
  z-index: 1;
}

ul#out li {
  list-style-type: none;
  width: 70px;
  height: 450px;
  margin-left: 13px;
  /* background-color: blue */
}

.bolinha {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 65px;
  height: 65px;
  background-color: darkblue;
  border-radius: 360px;
  z-index: 0;
}

#pipe {
  position: absolute;
  left: 0px;
  left: 0px;
  height: 50px;
  width: 10px;
  padding: 0px;
  margin: 0px;
  border-radius: 0px 0px 180px 0px;
  background-color: darkgray;
}

.circulo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: rgb(17, 18, 19);
	margin: 50px;
	}
