.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4rem;
}

#header-text {
  width: 100%;
  font-size: 3.438rem;
}

.buttons {
  border: 0;
  border-style: none;
  border-width: 0;
}

#button-reset {
  margin-right: 2rem;
  border-radius: 6px;
  padding: 8px;
  background-color: dimgray;
  color: white;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}

#button-reset:hover {
  background-color: rgb(163, 163, 163);
  transform: scale(1.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.363);
}

#button-regras {
  border-radius: 6px;
  padding: 8px;
  background-color: rgb(243, 77, 77);
  color: white;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}

#button-regras:hover {
  background-color: rgb(255, 106, 106);
  transform: scale(1.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.363);
}

#board {
  position: relative;
  width: 37.5rem;
  margin: auto;
}

.content {
  width: 37.5rem;
  margin: auto;
  display: flex;
}

ul#ul {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  background: url("background/board.png");
  background-size: cover;
}

ul#ul li {
  list-style-type: none;
  width: calc(100% / 7);
  height: 28.125rem;
  background-color: red;
}

ul#out {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  background: url("background/board2.png");
  background-size: cover;
  z-index: 1;
}

ul#out li {
  list-style-type: none;
  width: calc(100% / 7);
  height: 28.125rem;
  margin-left: 13px;
}

.bolinha {
  position: absolute;
  top: 0px;
  left: 0.938rem;
  width: 4.063rem;
  height: 4.063rem;
  background-color: darkblue;
  border-radius: 360px;
  z-index: 0;
}

#pipe {
  position: absolute;
  left: 0px;
  left: 0px;
  height: 3.125rem;
  width: 0.625rem;
  padding: 0px;
  margin: 0px;
  border-radius: 0px 0px 11.25rem 0px;
  background-color: darkgray;
}
