

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header-text {
margin-right: 16rem;
width: 60%;
font-size: 55px;
margin-left: 39rem;
}
.buttons {
  margin-inline-end: 5rem;
  border: 0;
  border-style: none;
  border-width: 0;
}
#button-reset {
  margin-right: 4rem;
  border-radius: 3px;
  padding: 4px;
  background-color: dimgray;
  color: white;
}
#button-regras {
  border-radius: 6px;
  padding: 4px;
  background-color: lightcoral;

}


div{
  position: relative;
  width: 600px;
  margin: 50px auto;

}
ul#ul{
  width: 100%;
  padding: 0;
  margin:0;
  display: flex;
  background: url("background/board.png");
  background-size: cover;
}
ul#ul li{
  list-style-type: none;
  width: 70px;
  height: 450px;
  margin-left: 5px;

}
ul#out{
  position: absolute;
  top:0;
  width: 100%;
  padding: 0;
  margin:0;
  display: flex;
  background: url("background/board2.png");
  background-size: cover;
  z-index: 1;
}
ul#out li{
  list-style-type: none;
  width: 70px;
  height: 450px;
  margin-left: 13px;
  /* background-color: blue */
}
.bolinha{
  position: absolute;
  top:0px;
  left: 15px;
  width: 65px;
  height: 65px;
  background-color: darkblue;
  border-radius: 360px;
  z-index: 0;
}

#pipe{
  position: absolute;
  left: 0px;
  left: 0px;
  height: 50px;
  width: 10px;
  padding: 0px;
  margin: 0px;
  border-radius: 0px 0px 180px 0px;
  background-color: darkgray;
}